.grid-header{
  grid-area: header;
}
.grid-footer{
  grid-area: footer;
}
.grid-body{
  grid-area: body;
}
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header'
    'body body body body body body'
    'footer footer footer footer footer footer';
}